body {
    background-color: rgb(63, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.6em;
    line-height: 1.6em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

label {
    display: block;
}
input[type="text"] {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 0.8em;
    border: 1px solid rgba(240, 224, 224);
}

table {
    background-color: rgb(42, 40, 40);
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4),
        -3px -3px 5px rgba(0, 0, 0, 0.4);
    color: rgb(240, 224, 224);
}

thead {
    text-decoration: underline;
}

td {
    border-bottom: 1px solid rgb(121, 121, 121);
    padding: 5px;
}