body {
    background-color: navy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 2em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}